/* master */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


:root {
    --dark-grey: #31343d; 
}
    
   
    

body {
    background-color: lightblue;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
}

header h1{ 
    font-size: 40px;
    margin: 10px;
}

/* navigation */

nav {
    margin-right: 30px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 10px; 
    margin-left: 20px; 
    bottom: -2px;
    position: relative; 
}

/* sub-header */

#sub-header {
    margin: 0;
    height: 180px;
    background-size: contain;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/14/07/48/particles-1328400_960_720.jpg");
}
   
    

#sub-header-text {
    color: white;
    position: absolute;
    right: 8px;
    padding: 150px 10px;
}
   

/* main */

main {
    margin: 0 auto;
    padding: 20px 10px; 
}

#about-me-text {
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 2;
    color: var(--dark-grey);
    width: 60%
}
   

.section {
    padding: 20px 10px;
    display: flex;
}
  

.title {
    text-align: left;
    float: left;
    min-width: 10%;
    color: var(--dark-grey);
    font-size: 30px;
}
    

.content {
    flex-wrap: wrap;
    display: flex;
    padding: 30px 10px 30px 30px;
    border-left: 3px solid var(--dark-grey);
    }
    
/* #work{ 
    display:flex;
 } */


#first-image {
    height: 350px;
    width: 100%;
}

.work-image {
    height: 250px;
    width: 48%;
    margin: 5%;
    padding: 10px;
    position: relative;
    cursor: pointer;
    flex-wrap: wrap;
    text-align: center;
    


} 
  #bottom-images img{ 
        
        /* display:flex; */
        text-align:center; 
        justify-content:center;
        flex-wrap: wrap;
       flex-direction: row;
        /* flex-basis: 20%; */
        /* width:100%  */
  }

    

.work-image:hover img {
    opacity: 5;
}


   
.work-image img {
    opacity: .5;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}



.info {
    color: pink;
    bottom: 10px;
    padding: 4px;
    position: absolute;
    
     
}

.website {
    position: absolute;
    width: 100%;
    height: 100%;
}
  

#contact-links {
    align-items: center;
    justify-content: space-around;
    /* display: inline-block; */
    
    
}


/* moble screen size */
@media screen and (max-width: 880px) {









    




